.svn
.metadata
.settings
.externalToolBuilders
local.properties
/projectFilesBackup
lint.xml
build/
*.bin
/.gradle
/local.properties
/resource/debug.keystore
/.idea
/build
.DS_Store
*.iml
captures/
/app/obj


